{% extends "layout.html.twig" %}
{% block contenu %}

    <body id="bg">
    <!-- start: Content -->

<div class="row-fluid">
    <div id="content">
    <div id="bloc" class="col-md-4">

    <form method="post" action="{{ path("user.validFormAddProf") }} ">
        <div class="row-fluid">
            <fieldset>
                <legend>Inscription Professeur</legend>
                <label>Nom :
                    <input name="nom_user"  type="text"  size="18" value="{{donnees.nom_user|default("")}}" />
                    {% if erreurs.nom_user is defined %}
                        <small class="error">{{erreurs.nom_user}}</small>
                    {% endif %}
                </label>

                <label>Prénom :
                    <input name="prenom_user"  type="text"  size="18" value="{{donnees.prenom_user|default("")}}" />
                    {% if erreurs.prenom_user is defined %}
                        <small class="error">{{erreurs.prenom_user}}</small>
                    {% endif %}
                </label>

                <label>Login :
                    <input name="login"  type="text"  size="18" value="{{donnees.login|default("")}}" />
                    {% if erreurs.login is defined %}
                        <small class="error">{{erreurs.login}}</small>
                    {% endif %}
                </label>


                <label>Adresse mail :
                    <input name="e_mail"  type="text"  size="18" value="{{donnees.e_mail|default("")}}" />
                    {% if erreurs.e_mail is defined %}
                        <small class="error">{{erreurs.e_mail}}</small>
                    {% endif %}
                </label>

                <label>Mot de passe :
                    <input name="password"  type="text"  size="18" value="{{donnees.password|default("")}}" />
                    {% if erreurs.password is defined %}
                        <small class="error">{{erreurs.password}}</small>
                    {% endif %}
                </label>

                <label>Date de naissance :
                    <input name="date_naissance"  type="text"  size="18" value="{{donnees.date_naissance|default("")}}" />
                    {% if erreurs.date_naissance is defined %}
                        <small class="error">{{erreurs.date_naissance}}</small>
                    {% endif %}
                </label>


                <br>

                <label>Sexe :
                    <select name="id_sexe">
                        {% if  donnees.id_sexe is not defined or donnees.id_sexe is empty   %}
                            <option value="">Veuillez sélectionner votre type</option>
                        {% endif %}
                        {% for genreUser in genreUser %}
                            <option value="{{ genreUser.id_sexe }}"
                                    {% if donnees.id_sexe is defined and genreUser.id_sexe == donnees.id_sexe %}selected{% endif %}>
                                {{ genreUser.libelle_sexe }}
                            </option>
                        {% endfor %}
                    </select>
                    {% if erreurs.id_sexe is defined %}
                        <small class="error">{{erreurs.id_sexe}}</small>
                    {% endif %}
                </label>


                <input type="submit" name="creerProf" value="créer" />
            </fieldset>
        </div>

    </form>

    <br/>
    </div>
    </form>
</div>
{% endblock %}