{% extends "layout.html.twig" %}
{% block contenu %}

    <body id="bg">
<!-- start: Content -->

<div class="row-fluid">

    <div id="content">
        <form method="post" action="{{ path("Emploi.validFormAdd") }} ">
            <div class="row-fluide">
                <fieldset>
                    <legend>Creer un Emploi (twig)</legend>

                    <label>Poste
                        <input name="poste_emploi"  type="text"  size="18"  value="{{donnees.poste_emploi|default("")}}"/>
                        {% if erreurs.poste_emploi is defined %}
                            <small class="error">{{erreurs.poste_emploi}}</small>
                        {% endif %}
                    </label>
                    <label>Type d'emploi
                        <input name="type_emploi"  type="text"  size="18"  value="{{donnees.type_emploi|default("")}}"/>
                        {% if erreurs.type_emploi is defined %}
                            <small class="error">{{erreurs.type_emploi}}</small>
                        {% endif %}
                    </label>
                    <label>date de debut
                        <input name="date_debut_emploi"  type="text"  size="18" value="{{donnees.date_debut_emploi|default("")}}"/>
                        {% if erreurs.date_debut_emploi is defined %}
                            <small class="error">{{erreurs.date_debut_emploi}}</small>
                        {% endif %}
                    </label>
                    <label>Date de fin
                        <input name="date_fin_emploi"  type="text"  size="18"  value="{{donnees.date_fin_emploi|default("")}}"/>
                        {% if erreurs.date_fin_emploi is defined %}
                            <small class="error">{{erreurs.date_fin_emploi}}</small>
                        {% endif %}
                    </label>
                    <label>description
                        <input name="description_emploi"  type="text"  size="18"  value="{{donnees.description_emploi|default("")}}"/>
                        {% if erreurs.description_emploi is defined %}
                            <small class="error">{{erreurs.description_emploi}}</small>
                        {% endif %}
                    </label>

                    <input type="submit" name="creerEmploi" value="créer" />
                </fieldset>
            </div>
        </form>
    </div>
    </form>
</div>
{% endblock %}